<div id="establecimientos" class="page-layout carded fullwidth content-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" 
            fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    business
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Establecimientos
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar establecimiento" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!--  BUTTONS -->

            <button mat-raised-button (click)="crear()" class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Agregar</span>
            </button>

            <!-- / BUTTONS -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            
            <mat-table  class="table" 
                        #table [dataSource]="dataSource" 
                        fusePerfectScrollbar 
                        matSort [@animateStagger]="{ value: '50' }">
                
                <ng-container matColumnDef="idEstablecimiento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <p class="text-truncate">
                            {{ establecimiento.idEstablecimiento }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ruc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RUC</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <p class="text-truncate">{{ establecimiento.ruc }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="razonSocial">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Razón Social</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <p class="text-truncate">{{ establecimiento.razonSocial }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="porcentajeGanancia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje de Ganancia</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <p class="text-truncate">{{ establecimiento.porcentajeGanancia }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <button mat-stroked-button color="accent" title="Editar Usuario">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let establecimiento">
                        <button mat-stroked-button color="warn" title="Eliminar Usuario">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let establecimiento; columns: columnNames" matRipple>
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource.data.length === 0" class="no-records">
                No hay establecimientos registrados, ...
            </div>

            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>